<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Example</title>
</head>

<body>
    <h1>Welcome to My Web Page</h1>
    <p>This is a simple HTML document.</p>
    <a href="https://www.example.com">Visit Example.com</a>
    <hr>
    <img src="image.jpg" alt="A sample image">
    <!-- <script type="text/javascript">
        atOptions = {
            'key' : '8a147717f26470e2cbe6e10557afdf68',
            'format' : 'iframe',
            'height' : 300,
            'width' : 160,
            'params' : {}
        };
    </script>
    <script type="text/javascript" src="//www.highperformanceformat.com/8a147717f26470e2cbe6e10557afdf68/invoke.js"></script> -->
</body>

</html>